<header>
    <div class="logo" (click)="navigateToHome()">
        <h2 style="color: #A29C9C;">THE</h2>
        <h2 style="color: #EEE6E6;">NORTHPOLE</h2>
    </div>

    <div class="burgerMenu" (click)="menuOpen = !menuOpen" [ngClass]="{'open': menuOpen}">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav [ngClass]="{'active': menuOpen}">
        <ul>
            <li><a routerLink="/home" (click)="scrollToTop(); menuOpen = false">HOME</a></li>
            <li><a routerLink="/products" (click)="menuOpen = false">SHOP</a></li>
            <li><a (click)="scrollTo('about'); menuOpen = false">ABOUT</a></li>
            <li><a (click)="scrollTo('contact'); menuOpen = false">CONTACT</a></li>
        </ul>
    </nav>
</header>